body {
  background-color: #202529;
}
h1,h2,h3,h4,h5,h6,p,a {
  color: white;
  font-family: Arial;
}
h1 {
  margin-bottom: 40px;
  margin-top: 40px;
}
h3 {
  color:white;
}
div#container {
  max-width:750px;
	margin:0 auto;
	margin-bottom: 20px;
  margin-top: 40px;
 }

div.descripcion {
   font-size: 18;
   width: 80%;
   margin-left: 20px;
}
div.tabla-contenido-categoria {
   font-size: 20;
   margin-left: 10px;
   margin-top: 15px;
   color: #bfbfbf;
}
div.tabla-contenido-titulo {
   font-size: 18;
   margin-left: 40px;
}
p.titulo {
  font-size: 26;
  font-weight: bold;
}
p.resumen{
  font-size: 18;
}
p.categoria {
  font-size: 20;
  color:gray;
}
p.nobs {
  font-size: 12;
  text-align: right;
  margin-right:20px;
}
div.VolverArriba {
  font-size: 12;
  text-align: right;
  margin-right:20px;
}
div.social-media{
  float: right;
  margin-left:auto;
  margin-right: 0px;
  direction:rtl;
}
p.social-media{
  text-align: right;
}
a:link, a:visited {
  color:white;
  text-decoration: none;
  padding: 4px;
  line-height: 1.6;
}
a:hover {
  color: #1dc4f7;
}
.normal-link:link, .normal-link:visited {
  color:white;
  text-decoration:underline;
}
.normal-link:hover {
  color: #1dc4f7;
}
#banner img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color:gray;
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  border: 1px solid #1dc4f7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  border: 1px solid white;
  color: white;
}

/* Twitter */
.fa-twitter {
  border: 1px solid white;
  color: white;
}

/* IG */
.fa-instagram {
  border: 1px solid white;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  border: 1px solid white;
  color: white;
}
