body {
  background-color: #202529;
}
h1,h2,h3,h4,h5,h6,p {
  color: white;
  font-family: Arial;
}
h3 {
  color:white;
}
div#container {
  max-width:750px;
	margin:0 auto;
	margin-bottom: 20px;
  margin-top: 40px;
 }
div.descripcion {
   font-size: 18;
   width: 80%;
   margin-left: 20px;
}
p.titulo {
  font-size: 26;
  font-weight: bold;
}
p.resumen{
  font-size: 18;
}
p.categoria {
  font-size: 20;
  color:gray;
}
p.nobs {
  font-size: 12;
  text-align: right;
}
div.social-media{
  float: right;
  margin-left:auto;
  margin-right:0;
}
p.social-media{
  text-align: right;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color:gray;
}
