body {
  background-color: #202529;
}
h1,h2,h3,h4,h5,h6,p {
  color: white;
}
h3 {
  color:white;  
}
.container {
   margin-top: 20px;
   margin-bottom: 200px;
   margin-right: 10px;
   margin-left: 100px;
   margin: auto;
 }
